<head>

<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title>CoderNator</title>

<!-- Bootstrap core CSS -->
<link href="./public/vendor/bootstrap/css/bootstrap.min.css"
	rel="stylesheet">

<!-- Custom styles for this template -->
<link href="./public/css/shop-homepage.css" rel="stylesheet">
<script src="./public/vendor/jquery/jquery.min.js"></script>
<script src="./public/vendor/popper/popper.min.js"></script>
<script src="./public/vendor/bootstrap/js/bootstrap.min.js"></script>
</head>