<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="ProjectDemo">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="ProjectDemoEJB.jar" deploy-path="/" handle="module:/resource/ProjectDemoEJB/ProjectDemoEJB">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="ProjectDemoWeb.war" deploy-path="/" handle="module:/resource/ProjectDemoWeb/ProjectDemoWeb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
