@CHARSET "UTF-8";
img{
	width:30px;
	height:30px;
}
td:nth-child(3){
	text-align:center;
}
tr:nth-child(even){
	background-color:lightyellow;
}
caption{
	font-size:22px;
	font-weight:bold;
}
table{
	margin:auto;
}