<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="J2EEDemo">
        <wb-resource deploy-path="/" source-path="/EarContent" tag="defaultRootSource"/>
        <dependent-module archiveName="J2EEDemoEJB.jar" deploy-path="/" handle="module:/resource/J2EEDemoEJB/J2EEDemoEJB">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <dependent-module archiveName="J2EEDemoWeb.war" deploy-path="/" handle="module:/resource/J2EEDemoWeb/J2EEDemoWeb">
            <dependent-object/>
            <dependency-type>uses</dependency-type>
        </dependent-module>
    </wb-module>
</project-modules>
